
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'main/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,600"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <title>XYZ.com</title>
  </head>
  <body>
    <nav class="mynavbar navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/" style="padding-left:5px">XYZ.com</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Random</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">How to create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <!-- <a class="nav-link" href="{% url 'login' %}">Sign in</a> -->
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    
    <div class="container">

            
    <!-- <footer class="footer">
      <div class="container">
        <div class="row copy-row">
          <span>&copy; xamfy 2019</span>
          <a href="#">About</a>
          <a href="#">Career</a>
          <a href="#">Team</a>
        </div>
      </div>
    </footer> -->
    
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <h3>XYZ</h3>
                <small class="d-block mb-3 text-muted">Copyright © 2019 All rights reserved                  </small>
              </div>
              <div class="col-6 col-md">
                <h5 id="services">Quick links</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Home</a></li>
                  <li><a class="text-muted" href="#">Request pics</a></li>
                  <li><a class="text-muted" href="#">Contact</a></li>
                  <li><a class="text-muted" href="#">Privacy policy</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Products</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Automate</a></li>
                  <li><a class="text-muted" href="#">E-commerce website</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                </ul>
              </div>
            </div>
          </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script>
        // TweenMax.set(".site-img", { opacity: 0 });

        // TweenMax.to(".site-img", 3, { opacity: 1 });
    </script>
  </body>
</html>