{% extends 'base.html' %} {% block content %}
<div class="bg-overlay text-center">
  <!-- <div class="heading">Create greeting cards free online</div> -->
  <h1 class="heading">
    <strong>Create</strong>
    <strong>greeting cards</strong>
    free online
  </h1>
</div>
<br />
<div class="container">
  <h4>Categories</h4>

  <div class="row">
    {% for category in categories %}
    <div class="col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img
          class="card-img-top img-fluid"
          src="https://images.unsplash.com/photo-1533864584121-714289e0e746?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">{{ category.name }}</h4>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <a href="category/{{ category.id }}" class="btn btn-primary"
            >Generate</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!--  -->
